In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_boston
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [50]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [14]:
boston = load_boston()
boston.keys()

In [16]:
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [26]:
X = pd.DataFrame(data, columns = feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [27]:
y = pd.DataFrame(target, columns = ['Price'])
y.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [51]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
y_pred = lr.predict(X_test)

In [53]:
r2_score(y_test, y_pred)

0.7112260057484974

In [54]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [55]:
y_pred = model.predict(X_test)

In [56]:
r2_score(y_test, y_pred)

0.8749965273218174

In [57]:
? RandomForestRegressor

In [58]:
imps = model.feature_importances_
imps.sum()

0.9999999999999999

In [100]:
a = []
for f, i in zip(feature_names, imps):
    print(f'{f} - {i}')

CRIM - 0.0321174780102904
ZN - 0.0015499893488862256
INDUS - 0.007094098492215253
CHAS - 0.0011487958307451888
NOX - 0.014368315731541832
RM - 0.402704591696731
AGE - 0.014244766864655404
DIS - 0.06403265381454112
RAD - 0.004967618842627067
TAX - 0.011691768621898036
PTRATIO - 0.018089605464908655
B - 0.012311395829965457
LSTAT - 0.4156789214509943

Пытался сделать функцию, чтобы сразу выдавало признаки с максимальными значениями, но что-то не пошло. Можете подсказать возможно ли это и с чего начать лучше?